body{
    background-color: #f6f7fb;
    font-family: 'Poppins', sans-serif;
}
.orderList-table {
    width: 70vw;
    border-collapse: collapse;
}

.orderList-table th {
    text-align: left;
    padding: 11px 24px;
    font-size: 14px;
}
.orderList-table td{
    text-align: left;
    padding: 0px 24px;
    font-size: 14px;
}
.userList-tableRow {
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;
    cursor: pointer;
}
.userList-pageWrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}
.subWrapper{
    display:flex;
    justify-content: space-between;
}
.filter{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.filter input{
    margin-right: 10px;
}
.userList-primaryText {
    color: rgba(0,0,0,.8);
    font-weight: 500;
}
.userList-secondaryText {
    color: #8c8c8c;
}